<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <meta http-equiv="X-UA-Compatible"  content="IE=edge" />
    <meta name="viewport"               content="width=device-width, user-scalable=no" />
    <meta property="fb:app_id"          content="1758387034450945" />
    <meta property="og:url"             content="http://supernovadenver.com/" />
    <meta property="og:type"            content="website" />
    <meta property="og:title"           content="Denver's first outdoor digital art and animation festival" />
    <meta property="og:description"     content="September 24, 2016" />
    <meta property="og:image"           content="http://supernovadenver.com/images/sp-fb.png" />
    <title>SUPERNOVA</title>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700|Montserrat:800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/app.min.css" /> -->
</head>
<body>
<!-- NAV/SIDE +++++ FIXED -->
    <div id="page-header">
        <div id="supernova-image">
            <img src="../images/supernova-long.png" alt="Supernova Logo">
        </div>
        <div id="menu">
            <div id="menu-items">
                <button id="current-year-button" onclick="toggleMenu();" >2018 FESTIVAL</button>
                <button href="#" id="main-menu-button" onclick="toggleAbout();">MENU</button>
            </div>
        </div>
        <div id="banner">
            <marquee id="banner-text" behavior="alternate"> * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE  * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE  * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE  * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE  * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE * </marquee>
        </div>
        <div id="sub-menu-container">
            <div id="sub-menu-lists">
                <!-- <div id="menu-1" class="nav-lists">
                    {{#each aboutmenu}}
                    <div class="nav-list-container">
                        <span class="nav-list-item">{{this}}</span>
                    </div>
                    {{/each}}
                </div> -->
                <div id="menu-2" class="nav-lists">
                    {{#each schedmenu}}
                    <div class="nav-list-container">
                        <span class="nav-list-item">{{this}}</span>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
<!-- END HEADER  / NAVIGATION -->
<!-- PAGE CONTENT -->
    <div id="page-container">

        <div id="home-page" class="inner-container">
            <div class="banner">
                <div class="inner-banner">

                </div>
            </div>
            <div id="home-header">
                <div class="jumbo-text">2018</div>
                <h1>FESTIVAL</h1>
                <div class="social-header">
                    <div class="social-logos">
                        <div class="two-up">

                            <a href="#">
                                <img class="wide-images" src="images/logos/social-blk-01.png" alt="">
                            </a>
                            <a href="#">
                                <img class="wide-images" src="images/logos/social-blk-02.png" alt="">
                            </a>
                        </div>
                        <div class="two-up">

                            <a href="#">
                                <img class="narrow-images" src="images/logos/social-pnk-dd-01.png" alt="">
                            </a>
                            <a href="#">
                                <img class="narrow-images" src="images/logos/social-blk-03.png" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="large-body-text">
                <p>SUPERNOVA returns to Denver, Colorado bigger and better than ever with the third edition set to take place September 21st and 22nd, with additional programs filling in additional days both in advance and post-festival. Supernova is the only major festival to focus solely on the latest advances in digital animation as art by leading artists from around the world, presented free to the public on large scale LED screens in the heart of a prominent metropolitan city. This year's Call for Entries is accepting submissions through July 15ht on <a href="https://filmfreeway.com/Supernova">Film Freeway</a>.</p>
                <p>The festival boasts an all-day education forum featuring presentations by our world-renowned jurors, a competition program with $5,000 in award money for the top three entries, and additional activities that will please fans of digital animation and contemporary art. Many new components will be added in 2018 including a closing party inside the lobby of Ellie Caulkins Opera House, an exhibition at Redline Gallery, additional indoor film screenings at Sie Film Center, as well as a special performance at CU Boulder’s Black Box Theatre in association with their Sonic Arts program. Oh, and a collaboration with the MCA Denver’s summer Teen Lab. More details to come, the best location to keep up to the moment is on Denver Digerati’s Facebook page and instagram or sign up for our monthly newsletter through <a href="https://www.denverdigerati.com">denverdigerati.com </a></p>
            </div>
            <div class="center-video-large">
                <div class="video">
                    <div class="iframe-container">
                        <iframe id="frame" src="https://player.vimeo.com/video/256664837?color=ffff29&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div id="competition-gls">
                <!-- <h1>SUBMIT</h1> -->
                <div class="jumbo-text">&amp;</div>
                <h1 class="h1-raise-for-jumbo">COMPETITION</h1>
                <h1>SUBMISSIONS</h1>
                <div class="sub-header">
                    <div class="text-wrapper">
                        <p>Submissions are now being accepted for the 2018 edition of the festival. Visit our <a href="https://filmfreeway.com/Supernova">Film Freeway</a> portal for full information and important dates.</p>
                    </div>
                </div>
                <h2>GUIDELINES</h2>
                <ul>
                    <li>
                        Supernova will accept submissions from anywhere in the universe. All submissions should be suitable for display in a public context, please review Denver Digerati history for suitability purposes.
                    </li>
                    <li>
                        Supernova is only accepting works built primarily through digital means and techniques, please no “live-action” works unless they integrate appropriately with a digital interface. See categories on entry page.
                    </li>
                    <li>
                        All submissions should be at least 60 seconds in length. Works over 15 minutes will be considered for our curated programs or treated on an individual basis for possible inclusion in the festival.
                    </li>
                    <li>
                        All submissions must have been completed no earlier than 2017. Priority will be given to new works that are not yet available for viewing online until after the festival takes place. Supernova will consider “works in progress” that are not fully complete before the deadline.
                    </li>
                    <li>
                        Supernova LED screens are of varying frame ratios.  We will consider all format submitted and will mask accordingly to fit the various parameters of our screens, when necessary.
                    </li>
                    <li>
                        Works may be submitted as digital files in .mov or mp4 formats at highest quality of resolution available. Vimeo Links also accepted.
                    </li>
                    <li>
                        All artists may submit up to two works for consideration.
                    </li>
                    <li>
                        Early entry deadline: May 15th, 2018.  Final deadline July 15th, 2018. All accepted works may be sampled  for our promotional progams for our various LED screens and other media outlets.
                    </li>
                </ul>
                <h2>AWARDS</h2>
                <div class="awards">
                    <span>
                        <div class="jumbo-text">
                            1st
                        </div>
                        <h3>SUPERNOVA</h3>
                        <p>$2,000 cash prize + Trophy</p>

                    </span>
                    <span>
                        <div class="jumbo-text">
                            2nd
                        </div>
                        <h3>GALAXY</h3>
                        <p>$1,500 cash prize + Trophy</p>

                    </span>
                    <span>
                        <div class="jumbo-text">
                            3rd
                        </div>
                        <h3>STAR</h3>
                        <p>$1,000 cash prize + Trophy</p>

                    </span>
                    <div class="single-image">
                        <img src="" alt="">
                    </div>
                </div>
                <h2>2018 JURORS</h2>
                <div class="three-frame">
                    <div class="bg-image" >
                        <a href="http://maxhattler.com" target="_blank">
                            <img src="images/MaxHattler.png">
                            <div class="text-bg">
                                <h3 class="img-text">MAX HATTLER</h3>
                            </div>
                        </a>
                    </div>
                    <div class="bg-image">
                        <a href="http://www.katietorn.com" target="_blank">
                            <img src="images/KatieTorn.png" alt="Katie Torn">
                            <div class="text-bg">
                                <h3 class="img-text">KATIE TORN</h3>
                            </div>
                        </a>
                    </div>
                    <div class="bg-image">
                        <a href="http://robertseidel.com" target="_blank">
                            <img src="images/RobertSeidel.png" alt="Robert Seidel">
                            <div class="text-bg">
                                <h3 class="img-text">ROBERT SEIDEL</h3>

                            </div>
                        </a>
                    </div>
                </div>
                <h2>SUBMIT</h2>
                <div class="submit-outer-cont">
                    <a href="https://filmfreeway.com/Supernova" >

                        <div class="submit-inner-cont">
                            <span class="image">
                                <img src="images/filmfreewaylogo.png" alt="Film Freeway">
                            </span>
                        </div>
                    </a>

                </div>
                <h2>2017 WINNERS</h2>
                <div class="three-frame">
                    <div class="bg-image" >
                        <a href="http://www.maxhattler.com">
                            <img src="images/Hattler.jpg" alt="Max Hattler">
                            <div class="text-bg">
                                <h3>Max Hattler - SUPERNOVA</h3>
                            </div>
                        </a>
                    </div>
                    <div class="bg-image">
                        <a href="http://www.jackwedge.com">
                            <img src="images/Wedge.jpg" alt="Jack Wedge">
                            <div class="text-bg">
                                <h3>Jack Wedge - GALAXY</h3>
                            </div>
                        </a>
                    </div>
                    <div class="bg-image">
                        <a href="http://nikitadiakur.com">
                            <img src="images/Diakur.jpg" alt="Nikita Diakur">
                            <div class="text-bg">
                                <h3>Nikita Diakur - STAR</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="sponsor-list">
                    <h1>2018 SPONSORS</h1>
                    <div class="sponsor-logos">
                        {{#each sponsorlinks }}
                        {{{ url }}}{{{ img }}}
                        </a>
                        {{/each}}
                    </div>
                </div>




            </div>
            <div id="footer">
                <div class="align-left">&copy; 2018 Denver Digerati</div>
                <div class="point-o-c">
                    <img src="images/logos/social-pnk-01.png" alt="SUPERNOVA on Vimeo">
                    <img src="images/logos/social-pnk-02.png" alt="SUPERNOVA on Facebook">
                    <img src="images/logos/social-pnk-dd-01.png" alt="Denver Digerati">
                    <img src="images/logos/social-pnk-03.png" alt="Email: SUPERNOVA">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>


        </div>

        <!-- <div id="other-pages" class="inner-container">
            <div id="page-content">
                <div class="sponsor-sidebar">
                    <div class="sponsor-list">
                        <div class="sponsor-header">
                            <h2>2018 SPONSORS</h2>
                        </div>
                        {{#each sponsorlinks }} -->
                        <!-- *** main-js *** file: (<a href="" target="_blank">) -->
                        <!-- {{{ url }}}{{{ img }}} -->
                        <!-- *** main-js *** file: (<img src="images/logos/_.png" alt="Sponsor Logos">) -->
                        <!-- </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div> -->


    </div>


    <!-- <div id="nav-bar"> -->
    <!-- <img src="images/banner/sp-solid-blk.png" alt="supernova logo" /> -->
    <!-- <div id="logo-banner"></div>
    <div id="blurb"><span>{{ blurb }}</span></div>
    <div id="nav-command">
    <span id="about-button">{{ about }}</span>
    <span id="sched-button"> {{ sched }}</span>
</div>
<a id="hamburger-icon" href="#" title="Menu">
<span class="line line-1"></span>
<span class="line line-2"></span>
<span class="line line-3"></span>
</a>
</div>
<div id="nav-secondary-command">
<div id="about-list" class="nav-list">
{{#each aboutmenu}}
<div><span>{{this}}</span></div>
{{/each}}
</div>
<div id="sched-list" class="nav-list">
{{#each schedmenu}}
<div><span>{{this}}</span></div>
{{/each}}
</div> -->
<!-- </div> -->


<!-- <div id="new-container">
<div class="new-row">
<div class="four-col">
yo
</div>
<div class="four-col">
yo
</div>
<div class="four-col">
yo
</div>
<div class="four-col">
yo
</div>
</div>
</div> -->

<!-- <div id="mobile-menu">
<h1>ABOUT</h1>
<div id="mobile-about-list">
{{#each aboutmenu}}
<div>{{this}}</div>
{{/each}}
</div>
<h1>SCHEDULE</h1>
<div id="mobile-sched-list">
{{#each schedmenu}}
<div>{{this}}</div>
{{/each}}
</div>

<div class="mobile-social">
<a href="https://www.facebook.com/DenverDigerati">
<span id="mobile-fb"></span>
</a>
<a href="mailto:ivar@plusgallery.com?Subject=Hello%20Supernova" target="_top">
<span id="mobile-e"></span>
</a>
<a href="https://www.facebook.com/DenverDigerati">
<span id="mobile-v"></span>
</a>
</div>
</div> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="js-prod/main.js"></script>
<!-- <script type="text/javascript" src="js/app.min.js"></script> -->
</body>
</html>
