<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <meta http-equiv="X-UA-Compatible"  content="IE=edge" />
    <meta name="viewport"               content="width=device-width, user-scalable=no" />
    <meta property="fb:app_id"          content="1758387034450945" />
    <meta property="og:url"             content="http://supernovadenver.com/" />
    <meta property="og:type"            content="website" />
    <meta property="og:title"           content="Denver's first outdoor digital art and animation festival" />
    <meta property="og:description"     content="September 24, 2016" />
    <meta property="og:image"           content="http://supernovadenver.com/images/sp-fb.png" />
    <title>SUPERNOVA</title>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700|Montserrat:800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/app.min.css" /> -->
</head>
<body>
    <!-- NAV/SIDE +++++ FIXED -->
    <div id="page-header">
        <div id="supernova-image">
            <img src="../images/supernova-long.png" alt="Supernova Logo">
        </div>
        <div id="menu">
            <div id="menu-items">
                <button id="current-year-button" onclick="toggleSched();" >ABOUT</button>
                <button href="#" id="main-menu-button" onclick="toggleAbout();">SCHEDULE</button>
            </div>
        </div>
        <div id="banner">
            <marquee id="banner-text" behavior="alternate"> * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE  * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE  * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE  * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE  * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE * DENVER OUTDOOR FESTIVAL OF DIGITAL ANIMATION AND ART * FREE * </marquee>
        </div>
        <div id="sub-menu-container">
            <div id="sub-menu-lists">
                <div id="menu-1" class="nav-lists">
                    {{#each aboutmenu}}
                    <div class="nav-list-container">
                        <span class="nav-list-item">{{this}}</span>
                    </div>
                    {{/each}}
                </div>
                <div id="menu-2" class="nav-lists">
                    {{#each schedmenu}}
                    <div class="nav-list-container">
                        <span class="nav-list-item">{{this}}</span>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
    <!-- <div id="nav-bar"> -->
    <!-- <img src="images/banner/sp-solid-blk.png" alt="supernova logo" /> -->
    <!-- <div id="logo-banner"></div>
    <div id="blurb"><span>{{ blurb }}</span></div>
    <div id="nav-command">
    <span id="about-button">{{ about }}</span>
    <span id="sched-button"> {{ sched }}</span>
</div>
<a id="hamburger-icon" href="#" title="Menu">
<span class="line line-1"></span>
<span class="line line-2"></span>
<span class="line line-3"></span>
</a>
</div>
<div id="nav-secondary-command">
<div id="about-list" class="nav-list">
{{#each aboutmenu}}
<div><span>{{this}}</span></div>
{{/each}}
</div>
<div id="sched-list" class="nav-list">
{{#each schedmenu}}
<div><span>{{this}}</span></div>
{{/each}}
</div> -->
<!-- </div> -->


<!-- <div id="new-container">
<div class="new-row">
<div class="four-col">
yo
</div>
<div class="four-col">
yo
</div>
<div class="four-col">
yo
</div>
<div class="four-col">
yo
</div>
</div>
</div> -->

<!-- <div id="mobile-menu">
<h1>ABOUT</h1>
<div id="mobile-about-list">
{{#each aboutmenu}}
<div>{{this}}</div>
{{/each}}
</div>
<h1>SCHEDULE</h1>
<div id="mobile-sched-list">
{{#each schedmenu}}
<div>{{this}}</div>
{{/each}}
</div>

<div class="mobile-social">
<a href="https://www.facebook.com/DenverDigerati">
<span id="mobile-fb"></span>
</a>
<a href="mailto:ivar@plusgallery.com?Subject=Hello%20Supernova" target="_top">
<span id="mobile-e"></span>
</a>
<a href="https://www.facebook.com/DenverDigerati">
<span id="mobile-v"></span>
</a>
</div>
</div> -->
<!-- <div id="sponsors">
<div class="sponsor-container">
<div>SPONSORS</div>
{{#each sponsorlinks }}
{{{ url }}}{{{ img }}}</a>
{{/each}}
</div>
</div> -->
<div id="footer">
    <span>&copy; 2016 Denver Digerati</span>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="js-prod/main.js"></script>
<!-- <script type="text/javascript" src="js/app.min.js"></script> -->
</body>
</html>
